<{* Smarty *}>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="<{$lngstr.text_direction}>"><head><title><{$g_vars.page.title}><{$lngstr.item_separator}><{$srv_settings.title_postfix}></title>
<meta http-equiv="Content-Language" content="<{$lngstr.meta_contentlanguage}>">
<meta content="text/html; charset=<{$lngstr.meta_charset}>" http-equiv=Content-Type>
<link rel="SHORTCUT ICON" href="/favicon.ico">
<link href="shared/style.css" rel=stylesheet type=text/css>
<script language=javascript src="shared/shared.js" type="text/javascript"></script>
<script language=javascript type="text/javascript">window.print();</script>
<{$g_vars.page.meta}></head>
<body bgcolor="#ffffff"<{$g_vars.page.body_tag}>>

<{$g_vars.page.content}>

</body></html>