<html><head>
<title><{$g_vars.page.title}></title>
<meta http-equiv="Refresh" CONTENT="2; URL=<{$g_vars.page.redirect_url}>">
</head>
<body<{$g_vars.page.body_tag}>>
<br><br>
<table height="90%" width="70%" border="0" align="center"><tr valign="middle" align=center>
<td><b><{$g_vars.page.text}></b><br />
<br /><font size=1 face=Verdana><a href="<{$g_vars.page.redirect_url}>">Click here if you do not want to wait any longer (or if your browser does not automatically forward you).</a>
</td></tr></table>
</body></html>