<{* Smarty *}>
<{include file="_header.tpl.html"}>

<{include file="_menu-2.tpl.html"}>

<{$g_vars.page.intro}>

<{include file="_notifications.tpl.html"}>

<p><form method=post action="register.php"><{$lngstr.page_register.required_mark}>
<table class=rowtable2 cellpadding=5 cellspacing=1 border=0 width="100%">

<{$g_vars.page.items.username}>
<{$g_vars.page.items.password}>
<{$g_vars.page.items.confirmpassword}>
<{$g_vars.page.items.email}>
<{$g_vars.page.items.title}>
<{$g_vars.page.items.firstname}>
<{$g_vars.page.items.lastname}>
<{$g_vars.page.items.middlename}>

<{$g_vars.page.items.address}>
<{$g_vars.page.items.city}>
<{$g_vars.page.items.state}>
<{$g_vars.page.items.zip}>
<{$g_vars.page.items.country}>
<{$g_vars.page.items.phone}>
<{$g_vars.page.items.fax}>
<{$g_vars.page.items.mobile}>
<{$g_vars.page.items.pager}>
<{$g_vars.page.items.ipphone}>
<{$g_vars.page.items.webpage}>
<{$g_vars.page.items.icq}>
<{$g_vars.page.items.msn}>
<{$g_vars.page.items.aol}>
<{$g_vars.page.items.gender}>
<{$g_vars.page.items.birthday}>
<{$g_vars.page.items.husbandwife}>
<{$g_vars.page.items.children}>
<{$g_vars.page.items.trainer}>
<{$g_vars.page.items.photo}>

<{$g_vars.page.items.company}>
<{$g_vars.page.items.cposition}>
<{$g_vars.page.items.department}>
<{$g_vars.page.items.coffice}>
<{$g_vars.page.items.caddress}>
<{$g_vars.page.items.ccity}>
<{$g_vars.page.items.cstate}>
<{$g_vars.page.items.czip}>
<{$g_vars.page.items.ccountry}>
<{$g_vars.page.items.cphone}>
<{$g_vars.page.items.cfax}>
<{$g_vars.page.items.cmobile}>
<{$g_vars.page.items.cpager}>
<{$g_vars.page.items.cipphone}>
<{$g_vars.page.items.cwebpage}>
<{$g_vars.page.items.cphoto}>

<{$g_vars.page.items.userfield1}>
<{$g_vars.page.items.userfield2}>
<{$g_vars.page.items.userfield3}>
<{$g_vars.page.items.userfield4}>
<{$g_vars.page.items.userfield5}>
<{$g_vars.page.items.userfield6}>
<{$g_vars.page.items.userfield7}>
<{$g_vars.page.items.userfield8}>
<{$g_vars.page.items.userfield9}>
<{$g_vars.page.items.userfield10}>

<{$g_vars.page.items.groupid_input}>
<{$g_vars.page.items.testid_input}>

</td></tr></table>
<p><input class=btn type=submit name=bsubmit value=" <{$lngstr.button_register}> "></form>

<{include file="_footer.tpl.html"}>